.header {
  position: relative;
  width: 100%;
  background-color: darkblue;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.header-title {
  font-weight: bold;
  font-size: 36pt;
  color: white;
}
